/* Reset & Generals */

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}

:root {
    --dark_blue- : rgba(1, 1, 49, 1);
    /* --middle_blue- : rgba(105, 173, 245, 1); */
    --light_blue- : rgba(89, 191, 255, 1);
    --grey- : rgba(191, 195, 186, 1);
    --white- : rgba(248, 248, 248, 1);
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--light_blue-);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--dark_blue-);
}

/* Text Color */

.text_light-blue {
    color: var(--light_blue-);
}

.text_middle-blue {
    color: var(--light_blue-);
}

.text_dark-blue {
    color: var(--dark_blue-);
}

.text_grey {
    color: var(--grey-);
}

.text_white {
    color: var(--white-);
}

/* Buttons */

.outline-btn_blue {
    color: var(--light_blue-);
    border: var(--light_blue-) solid 1px;
    background: linear-gradient(90deg, var(--dark_blue-) 0% 50%, var(--light_blue-) 50% 100%);
    background-size: 200% 100%;
    background-position: left;
    transition: all linear 0.4s;
}
.outline-btn_blue:hover {
    background-position: right;
}

.btn_blue {
    color: var(--dark_blue-);
    border: var(--light_blue-) solid 1px;
    background: linear-gradient(90deg, var(--light_blue-) 0% 50%, var(--dark_blue-) 50% 100%);
    background-size: 200% 100%;
    background-position: left;
    transition: all linear 0.4s;
}
.btn_blue:hover {
    background-position: right;
    color: var(--light_blue-);
    border: var(--light_blue-) solid 1px;
}

/* Menu */

.navbar_header {
    background-color: var(--dark_blue-);
}

.navbar_text {
    font-weight: 700;
}

.brand_title {
    font-size: x-large;
}

.navbar_text:hover {
    color: var(--light_blue-);
}

.menu_toggle {
    font-size: xx-large;
}

.navbar-toggler {
    border-color: var(--dark_blue-);
}

.offcanvas_menu {
    background-color: var(--dark_blue-);
}

/* Main Content */

.presentation_image {
    border-radius: 15%;
}

.container_socials {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: var(--light_blue-) solid 1px;
    color: var(--light_blue-);
    background: linear-gradient(90deg, var(--light_blue-) 0% 50%, var(--dark_blue-) 50% 100%);
    background-size: 200% 100%;
    background-position: right;
    transition: all linear 0.4s;
}
.container_socials:hover {
    background-position: left;
    color: var(--dark_blue-);
}

.socials_links {
    font-size: xx-large;
}

/* About me */

.little-presentation_image {
    border-radius: 50%;
    border: 2px solid var(--light_blue-);
    object-fit: contain;
    object-position: top;
}

/* Education */

.list-group-item {
    background-color: var(--dark_blue-);
}
.list-group-item:hover {
    background-color: rgba(248, 248, 248, 0.2);
}

/* Skills */

/* Projects */

.figure-img {
    margin-bottom: 0;
}

.projects-figures {
    position: relative;
    overflow: hidden;
}

.projects-captions {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(248, 248, 248, 0.8);
    left: 0;
    bottom: -100%;
    transition: all linear 0.4s;
}

.projects-figures:hover .projects-captions {
    bottom: 0;
}